<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>T4 Sprint Final</title>

    {{ publishCss() }}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/admin/" class="navbar-brand">Admin Panel</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/categories/">Categories</a></li>
                    <li><a href="/admin/products/">Products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome, {{ app.user.email }}!</a></li>
                    <li><a href="/">Go to site</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <br>
        <div class="page-header">
            <h2>{% block page_title %}Welcome!{% endblock %}</h2>
        </div>
        {% if app.flash.error is defined %}<p class="alert alert-danger">{{ app.flash.error | raw }}</p>{% endif %}
        {% if app.flash.message is defined %}<p class="alert alert-success">{{ app.flash.message | raw }}</p>{% endif %}
        {% block content %}{% endblock %}
    </div>

    {{ publishJs() }}
</body>
</html>