<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>T4 Sprint Final</title>

    {{ publish('/Layouts/assets') }}
    <link rel="shortcut icon" href="{{ asset('/Layouts/assets/favicon.png') }}">

    {{ publishCss() }}
    <link rel="stylesheet" href="{{ asset('/Layouts/assets/css/custom.css') }}">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="{{ asset('/Layouts/assets/logo.png') }}">
                    T4 Sprint Final
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                    <li><a>Welcome, {{ app.user.email }}!</a></li>
                    {% if app.user.hasRole('admin') %}
                    <li><a href="/admin/">Admin Panel</a></li>
                    {% endif %}
                    <li><a href="/user/logout.html">Log Out</a></li>
                    {% else %}
                    <li><a href="/user/login.html">Log In</a></li>
                    <li><a href="/user/register.html">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <br>
        <div class="page-header">
            <h2>{% block page_title %}Welcome!{% endblock %}</h2>
        </div>
        {% block content %}{% endblock %}
    </div>

    {{ publishJs() }}
</body>
</html>