{% extends 'index.html' %}

{% block content %}
    <h3>Main categories:</h3>
    <ul class="list-group">
        {% for category in categories.slice(0, 3) %}
        <li class="list-group-item">
            <span class="badge">{{ category.findChildProducts.count }}</span>
            {{ category.title }}
        </li>
        {% endfor %}
    </ul>

    <h3>Latest products:</h3>
    <t4:block path="//Products/Latest" />

    <h3>Cheapest products:</h3>
    <t4:block path="//Products/Cheapest" />
{% endblock %}
